<div class="bio-container">
    <h2>(?:[Ss]ara[h]?\s*)+</h2>
    <p>I am a researcher at Simon Fraser University in Vancouver, BC studying human-robot and human-ai interaction with Dr. Lawrence Kim.</p>
    <p>My background in software development and audio/sound informs my work.</p>
    <p>In my free time I produce ambient music, run/bike/swim/yoga, and plan events.</p>
    <p>Please reach out to me to learn more: sjp23 [at] sfu [dot] ca</p>
    <p>I'd love to chat.</p>
    <p>Thanks.</p>
  </div>
  