---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


// STYLING VARIABLES
$element-roundedness: 5px;
$fade-in-length: 0.5s;

$main-color:  #9dbedb;
$lighter-main-color: #accae5;
$darker-main-color:  #738ba0;


// TYPOGRAPHY OVERRIDES
/* system typefaces */
$serif: Georgia, Times, serif !default;
$garamond: Garamond, serif !default;
$global-font-family: $garamond !default;
$header-font-family: $garamond !default;
$caption-font-family: $garamond !default;


// SITE-WIDE STYLING
body {
    font-family: $garamond !important;
    height: 100%;

    h1, h2, h3 {
        color: $main-color;
        letter-spacing: 1.5px;
    }

    h1 {
        font-weight: 550;
        font-size: 35px;
        font-style: italic;
    }

    h2 {
        font-weight: 400;
        font-size: 28px;
        font-style: italic;
    }

    h3 {
        font-weight: 500;
        font-size: 16px;
    }
}
            
html
{
    height: 100%;
}

.intial-content {
    background-color: white !important;
}

// MASTHEAD/NAVIIGATION BAR STYLING
.masthead {
    border-bottom: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    .masthead__inner-wrap {
        font-family: $garamond !important;
        font-size: 10px;
        letter-spacing: 1px;
    }

    a.site-title {
        display: contents;

        &:hover {
            color: #000000 !important;
        }
    }

    a:hover {
        text-decoration: none;
    }
    
    .site-title-container {
        @include breakpoint($medium) {
            font-size: 18px;
            width: 50%;
        }
    }
    
    #site-nav {
        background: none;
    }
    .search__toggle {
        color: black;
    }
    .greedy-nav .visible-links a::before {
        background: $main-color;
    }
}

#main {
    padding-top: 50px;
}

.greedy-nav__toggle {
    &:hover {
        .navicon, .navicon::before, .navicon::after {
            background: $lighter-main-color !important;
        }
    }
    .navicon, .navicon::before, .navicon::after {
        background: #000000 !important;
    }
}

.greedy-nav .visible-links {
    a {
        &::before {
            background: $lighter-main-color;
        }
    }
}


// HOMEPAGE STYLING
.layout--sarah-home {

    // HOMEPAGE OVERALL STYLING
    #main {
        max-width: none;
        padding: 0;

    }
    main {
        position: relative;
    }
    .hero-img {
        height: 100%;
        width: 100%;
        height: auto;
        position: fixed; /* Fix the background image */
        top: 0;
        left: 0;
    }
    .initial-content {
        margin: 0 auto;
        max-width: 1280px;
    }
    .search-content {
        background: rgba(255, 255, 255, 0.75);
    }
    .text-button-wrapper {
        margin-bottom: 1em;
        padding: 8px;
        text-align: bottom left;
        top: 50%;
        width: 30%;
        text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.3);
        position: fixed;

        @include breakpoint($medium) {
            top: 50%;
            margin: 3em;
            width: 33.33%;
        }

        h1 {
            color: white;
        }

        .btn {
            background: transparent;
            border-color: white;
            border-radius: 0;
            color: white;
            font-family: $garamond !important;
            padding: 1em 1.5em;
            transition: background $fade-in-length ease-out;
            
            &:hover {
                background: rgba(0, 0, 0, 0.5);
                transition: background $fade-in-length ease-in;
            }
        }
    }

    // HOMEPAGE MASTHEAD STYLING
    .masthead {
        background: transparent;
        text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.3);

        .site-title-container {
            @include breakpoint($medium) {
                text-align: right;
            }
        }

        .greedy-nav {
            a {
                color: #000000 !important;
            }
        }
    }
    
    // HOMEPAGE FOOTER STYLING
    #footer {
        margin-top: 0;    
        position: absolute;
        background: transparent;
        bottom: 0;

        footer {
            max-width: none;
            padding-bottom: 1em;
            
            @include breakpoint($medium) {
                margin-left: 3em;
            }
        }
        .page__footer-copyright {
            color: white;
        }
    }    

    h2 {
        @include breakpoint($medium) {
            margin: 0;
            padding: 0 20px;
        }
    }
}


.section-background {
    max-height: 100vh;
    overflow: hidden;

    img {
        width: 100%; 
        height: auto; 
        object-fit: cover;

    }
}

// CONTACT STYLING
.layout--sarah-contact {
    .masthead {
        position: relative;
    }
    .about-container {
        max-width: 1280px;
        margin: 0 auto;
    }
    .about-image-container {
        padding: 1em;

        @include breakpoint($medium) {
            float: left;
            width: 50%;
        }
        @include breakpoint($large) {
            padding: 50px;
            padding-left: 0;
        }
    }
    .about-image {
        border-color: $lighter-main-color;
        border-width: 30px;
        border-style: dashed;
    }
    .about-text {
        padding: 1em;

        h2 { 
            margin-top: 0;
        }

        a {
            color: $main-color;
        }

        @include breakpoint($medium) {
            float: right;
            width: 50%;
        }
        @include breakpoint($large) {
            padding: 50px;
            padding-right: 0;
        }
    }
}

// PROJECTS STYLING
.layout--sarah-projects {
    .archive {
        padding: 0 1.5em;

        @include breakpoint($large) {
            padding: 0;
        }
    }
    a {
        font-family: initial;
        color: inherit;
    }
}

// CV STYLING
.layout--sarah-cv {
    a {
        font-family: initial;
        color: inherit;
    }
    .collapsible {
      background-color: $lighter-main-color;
      color: black;
      cursor: pointer;
      padding: 1em;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      // font-size: 15px;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .collapsible:hover {
      background-color: $main-color;
      color: white;
    }

    .content {
      padding: 0 1em;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }

    h3 {
        // letter-spacing: 1.5px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .skill-dates, .skill-subtitle {
        font-style: italic;
        font-size: 12px;
    }
}

// POSTS STYLING
.layout--posts {
    #page-title {
        font-size: 24px;
    }
    .post-videos {
        padding: 25px;
    }
    .post-video {
        width: 100%;
    }
    .post-image {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 25px;
    }
    .company, .location, .dates, .video-caption {
        font-style: italic;
        font-size: 12px;
    }
}

// FOOTER STYLING
#footer {
    background-color: white;

    .page__footer-copyright {
        font-family: $garamond !important;
        color: black;
        margin-top: 0;
    }

    a:hover {
        color: $main-color;
        text-decoration: none;
    }
}

// SEARCH STYLING
.search-content {
    padding-top: 3em;
    a {
        font-family: initial;
        color: inherit;
    }
    h2 {
        padding: 0;
    }
}
